html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.line::after{
    content: "";
    width: 0;
    background:linear-gradient(to right, #fbbd61,#ec7532);
    height: 3px;
    position: absolute;
    left: 0;;
    bottom: -1px;
    display: inline-block;
    transition: all .5s;
}

.section__title{
    color: #ec7532;
    font-size: 18px;
    letter-spacing: 2px ;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    padding-bottom: 15px;
    position: relative;
}
/* HEADER */
header{
    position: absolute;
    top:50px;
    left: 0;
    z-index: 99;
    width: 100%;
}
.header__detail i,  .header__detail span{
    font-size: 14px;
}
.header__detail span{
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.header__navbar .nav-item .nav-link{
    color: white;
    padding: 0 20px;
}
.header__navbar .navbar-nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__navbar .nav-item:hover::after, .header__navbar .nav-item.active::after{
    width: 100%;
}
/* END HEADER */

/* CAROUSEL */
.carousel-item__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(to top, black, transparent);
}
.carousel-item__caption{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carousel-item__caption .title{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
.carousel-item__caption p{
    font-size: 18px;
    padding-right: 25%;
}
.carousel-item__trailer span{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 32px;
    border: 2px solid white;
    border-radius: 50%;
}
.btn-orange{
    background: linear-gradient(to right, #fbbd61,#ec7532);
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 11px 30px;
}
.my-carousel .carousel-indicators li{
    width: 11px;
    height: 11px;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 50%;
}
.my-carousel .carousel-indicators{
    bottom: 50px;
}
.my-carousel .carousel-indicators li.active{
   background-color: white;
}
/* END CAROUSEL */

/* SHOWING MOVIE */
.movie{
    padding-top: 80px;
}
.movie__title{

}
.movie__title.line::after{
    width: 180px;
}
.movie__item{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.movie__detail{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
}
.movie__detail i{
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    line-height: 80px;
    margin: 15px auto;
}
.movie__detail a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}
.movie__detail span{
    font-size: 16px;
}
.movie__overlay{
    position: absolute;
    top: 0;
    left: -400%;
    background: linear-gradient(to right, #fbbd61,#ec7532);
    transform:  skewX(45deg);
    width: 300%;
    height: 100%;
    transition: all .5s;
}
.movie__item:hover  .movie__overlay{
    left: -100%;
}
.movie__item:hover .movie__detail{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.movie__name{
    font-size: 18px;
    margin: 15px 0 5px;
}
.movie__star{
    color: #fbbd61;
}
/* END SHOWING MOVIE */

/* SHOWTIMES */
.showtimes{
    padding-top: 80px;
}
.showtimes .nav-tabs .nav-link{
    position: relative;
    color: #4a4a4a;
    padding:10px 30px;
}

.showtimes .nav-tabs .nav-link.active.line::after , .showtimes .nav-tabs .nav-link:hover.line::after{
    width: 100%;
}
.showtimes .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active , .showtimes .nav-tabs .nav-link:hover, .showtimes .nav-tabs .nav-link:focus{
    border-color: white;
}
.showtimes img{
    border-radius: 5%;
}
.showtimes__detail >p{
    font-size: 16px;
}
.showtimes__detail > a , .showtimes__detail span{
    color: #ec7532;
    font-size: 12px;
    letter-spacing: 3px;
}

.showtimes__list i, .showtimes__list span{
    font-size: 14px;
}
.showtimes__length span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

/* END SHOWTIMES */

/* COMING SOON */
.coming{
    background-color: black;
}
.coming__bg{
    padding-top: 80px 0;
    background-image: url('../img/slide-3.png');
    background-size: cover;
    background-position: center center;
}
.coming__bg h1{
    color: white;
}
.coming__bg .line::after{
    width: 180px;
}
.coming__detail > span{
    font-size: 14px;
    color: #ec7532;
}
.coming__detail .fa-star{
    font-size: 14px;
    color: #fbbd61;
}
.coming__date{
    opacity: 0.75;
    font-size: 14px;
    margin-left: 10px;
}
.coming__detail a{
    color: #ec7532;
    letter-spacing: 3px;
    text-decoration: none;
}
.coming__trailer{
    position: relative;
}
.coming__trailer i{
    width: 84px;
    height: 84px;
    display: block;
    border-radius: 50%;
    border: 2px solid #ec7532;
    color: white;
    text-align: center;
    line-height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
}
/* END COMING SOON */